.movieCard {
  transition: .1s;
  min-height: min-content;
  overflow: hidden;

  & .p-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .p-card-title {
    -webkit-line-clamp: 2;
    block-size: 2lh;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & img {
    display: block;
    height: 350px;
  }
}

.movieCard:hover {
  scale: 1.01;
}